
/* 
    Created on : Oct 11, 2025, 12:40:11 AM
    Author     : 84911
*/

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 220px;
    height: calc(100%);
    background-color: #2c3e50;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    padding: 10px 20px;
    transition: background 0.2s;
}

.sidebar a:hover {
    background-color: #34495e;
}