
/* 
    Created on : Oct 11, 2025, 12:39:55 AM
    Author     : 84911
*/

/* Header */
.header {
    background-color: #1a73e8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}